main {
  width: 100%;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(108, 126, 143);
}
.form {
  display: flex;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  background-image: url(../img/bgc.gif);
  margin: auto;
}
p {
  color: rgb(180, 177, 177);
  font-size: 12px;
}
.form__content {
  width: 300px;
  height: 500px;
  margin: 0 auto;
}
.form__content img {
  position: relative;
  top: 0px;
  left: 35%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
h3 {
  text-align: center;
  margin:0px 0;
    font-size: 26px;
    color: #91c9df54;
  }
.styled-input {
    width: 300px;
    height: 50px;
  }
  .styled-input__input {
    width: 100%;
    -webkit-appearance: none;
    font-size: 14px;
    outline: none;
    background: none;
    padding: 10px 10px;
    color: #ceafff;
    border: 1px solid grey;
    font-weight: 600;
    letter-spacing: 0.035em;
    border-radius: 4px;
  }
  .styled-button {
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    outline: none;
    background: none;
    border: none;
    position: relative;
    color: #cad7db54;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .styled-button :hover {
    color: white;
  }
  .phoneNumber {
    width: 320px;;
    height: 40px;
    border: 1px solid grey; 
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 4px;
  }
  .placeNum {
    float: left;
    width: 15%;
    height: 80%;
    border: none;
    background-color:transparent;
    color: wheat;
  }
  .phone {
    float: right;
    width: 80%;
    height: 80%;
    border: none;
    background-color:transparent;
  }
  .more {
    width: 322px;
  }

  .buttonCode {
  height: 80%;
  width: 32%;
  float: right;
  border: 1px solid rgb(24, 111, 139);
  background:transparent;
  color:  rgb(24, 111, 139);
  border-radius:4px; 
  }
  .codeN {
    width: 60%;
  }
  .noticeT {
    border-radius: 4px;
    border: 1px solid grey;
    background-color:rgb(70, 84, 105);   
    padding: 10px;
    color: white;
    font-size: 14px;
    display: none;
    width: 300px;
    position: relative;
    z-index: 10000;
  }
a {
  display: block;
  text-align: center;
}

